<div id="friendCardsContainer">

    <div class="fCardHeader">
        <img src = {{userImg}} alt = "{{name}}'s profile image"/>
        <h2>{{name}}</h2>
        <p>Location: {{location}}</p>

    </div>

    <div class="fCardBody">
        
        {{#each ratings}}
        <h3>Movie Name: {{name}} </h3>
        <p>OMDB Rating: {{omdbRating}}</p>
        <p>Movie Friend's rating: {{userRating}}</p>
        <hr>
        {{/each}}
    </div>
    <div class="bottom"></div>

</div>